<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <title>Dojo Survey</title>
</head>
<body>
    <h1>Dojo Survey</h1>
    <h3>Register Ninja</h3>
    <form action='/submit' method='post'>
        <label for='name'>Your Name:</label>
        <input type='text' name='name'>
        <label for='location'>Dojo Location:</label>
        <input type='text' name='location'>
        <select name='language' id='language'>
            <option value="python">PYTHON</option>
            <option value="mern">MERN</option>
            <option value="C#">C#</option>
            <option value="java">java</option>
        </select>
        <input type='submit' value='submit'>
    </form>
    <!-- <div class="frame">
        <label for="your_name">Your Name:</label>
        <input type="text" class="name" name="your_name">
        <label for="dojo_location">Dojo Location:</label>
        <button class="location" type="menu" name="dojo_location"></button>
        <label for="favorite_language">Favorite Language:</label>
        <button class="language" type="menu" name="favorite_language"></button>
        <label for="comment_field">Comment (optional):</label>
        <input type="text" class="comment" name="comment_field">
        <button class="submit" name="submit" type="submit">Submit</button>
    </div> -->
</body>
</html>